Текстовый файл состоит из десятичных цифр и заглавных букв латинского алфавита. Oпределите в этом файле последовательность идущих подряд символов, представляющих собой запись максимального кратного шести 12-ричного числа. В ответе запишите индекс (номер) последнего символа (последней значащей цифры), которой заканчивается запись этого числа в прилагаемом файле. Нумерация символов в текстовом файле начинается с нуля.
Примечание. Латинские буквы А, В - цифры из алфавита 12-ричной системы счисления. (file: {{{file}}})