В кодировке {{encodingName}} каждый символ кодируется {{encodingUnitText}}. {{name}} {{writeForm}} текст (в нем нет лишних пробелов):
«{{word3}}, {{word4}}, {{word5}}, {{word6}}, {{word7}}, {{word8}} — {{terminNominative}}».
{{studentForm}} {{removedForm}} из списка название {{terminGenitive}}. Заодно {{pronoun}} {{removedForm}} ставшие лишними запятые и пробелы — два пробела не должны идти подряд.
При этом размер нового предложения в данной кодировке оказался на {{deltaUnitText}} меньше, чем размер исходного предложения. Напишите в ответе вычеркнутое название {{terminPartitive}}. (ответ - {{removedWord}})