В кодировке {{encodingName}} каждый символ кодируется {{encodingUnitText}}. {{name}} {{writeForm}} текст (в нем нет лишних пробелов):  \n«{{word3}}, {{word4}}, {{word5}}, {{word6}}, {{word7}}, {{word8}} — {{terminNominative}}».  \n{{studentForm}} {{removedForm}} из списка название {{terminGenitive}}. Заодно {{pronoun}} {{removedForm}} ставшие лишними запятые и пробелы — два пробела не должны идти подряд.  \nПри этом размер нового предложения в данной кодировке оказался на {{deltaUnitText}} меньше, чем размер исходного предложения.  \nНапишите в ответе вычеркнутое название {{terminPartitive}}.