{{name}} решил поиграть в игру с кодировкой {{encoding}}, в которой каждый символ кодируется одинаковым количеством бит, равным {{bitWeight}}. {{name}} написал сообщение своей подруге, в котором {{textLength}} символов. Теперь он хочет узнать, сколько бит весит это сообщение. Помоги мальчику вычислить это значение. В ответе запиши целое число бит. (Ответ: {{totalBits}})