В кодировке {{cod_name}} каждый символ кодируется {{count_kodir}} {{type_kodir}}. {{name}} написал текст (в нем нет лишних пробелов):
«{{word1}}, {{word2}}, {{word3}}, {{word4}}, {{word5}}, {{word6}} — {{termin}}».
Ученик вычеркнул из списка название одной из {{termin}}. Заодно он вычеркнул ставшие лишними запятые и пробелы — два пробела не должны идти подряд.
При этом размер нового предложения в данной кодировке оказался на {{count_weight}} {{type_weight}} меньше, чем размер исходного предложения. Напишите в ответе вычеркнутое название {{termin}}.